<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
    <link href="https://fonts.googleapis.com/css?family=Underdog&display=swap" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Eagle+Lake&display=swap" rel="stylesheet"></link>
    <link rel="stylesheet" href="/CSS/style.css"></link>
    <style type="text/css">* {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;}</style>
    <title>The Wizarding Quiz</title>
</head>
<body class="game">
<div class="container">

    <header>
        <nav id="logo">
            <img src="/img/logo.jpg" alt="logo"></img>  <strong><p id="titulo-nav">| The wizarding Quiz |</p></strong>
        </nav>
        <strong>
            <nav id="uno"> <a href="home">HOME</a><a href="FAQ">FAQ</a><a href="registro">REGISTRO</a><a href="login">LOG IN</a>
            </nav>
        </strong>
    </header>


    <div class="container1">
        <div class="box">
            <img src="/img/partida.jpg"></img>

        </div>

    </div>





</div>






</body>
