<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>The Wizarding Quiz</title>
    <link href="https://fonts.googleapis.com/css?famly=Montserrat:200" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/style.css"></link>
</head>
<body>


<div th:text="${question.text}"></div>
<div th:text="${answer.text}"></div>

<div >

    <p th:if="${correct}">Respuesta correcta! Serás un fantástico mago!</p>
    <p th:unless="${correct}">Respuesta incorrecta! Sigue practicando! </p>



</div>












</body>
</html>